version: '3.8'

services:
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - proxy-network
    restart: unless-stopped
    depends_on:
      - portainer
      - hugo

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    environment:
      - TRUSTED_ORIGINS=54.166.155.11,localhost #change with ip or domain of server
    command: --base-url /portainer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      - proxy-network
    restart: unless-stopped

  hugo:
    image: hugomods/hugo:nginx
    container_name: hugo
    volumes:
      - ./hugo-site/public:/site
    networks:
      - proxy-network
    restart: unless-stopped

networks:
  proxy-network:
    driver: bridge

volumes:
  portainer_data:
